<div class="home">
    <h1>alright lets hit it!</h1>
    <button (click)="navigateHome()">Let's go Home</button>
    <button (click)="connect()">Connect Trainer</button>
    <button *ngIf="!selectedWorkout" (click)="navigateSelectWorkout()">Select Workout</button>
</div>

<!-- Display selected workout details -->
<div *ngIf="selectedWorkout">
    <h2>{{ selectedWorkout?.title }}</h2>
    <p>{{ selectedWorkout?.description }}</p>
    <p>FTP: {{ selectedWorkout?.ftp }}</p>
    <!-- <ul>
      <li *ngFor="let interval of selectedWorkout.intervals">
        {{ interval.startSeconds }}s - {{ interval.durationSeconds }}s: {{ interval.targetWatts }}W
      </li>
    </ul> -->
  </div>
